body{
	font-size: 16px;
	font-family: 'Antic', sans-serif;
}

header{
	background-color: #242424;
}

h1{
	font-family: 'Roboto Slab', serif;
	font-size: 60px;
	color: #C3000E;
}

h2{
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	color: #616161;
	text-align: center;
}

footer{
	color:#FFFFFF;
	background-color: #CD1101
}

h3{
	font-family: 'BenchNine', sans-serif;
	font-size: 24px;
	text-align: center;
}

.carousel-caption{
	font-size: 80px;
	font-family: 'Antic', sans-serif;
    position: absolute;
    right: 15%;
    bottom: 20%;
    left: 15%;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10%;
    color: #fff;
    text-align: center;
    text-shadow: 0 6px 4px rgba(0,0,0,.6);
}